.box {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 130vh; /* Adjust the height as needed */
}

.box .question-wrapper {
  color: #000000;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: bolder;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
}

.box .category-group-wrapper {
  height: 45px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 131px;
}

.category-group {
  background-color: rgb(231, 231, 231);
  border-radius: 50px;
  font-weight: bold;
  height: 70%;
  position: relative;
  width: 90%;
  left: 130%;
  top: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.difficulty-group {
  background-color: pink;
  border-radius: 50px;
  font-weight: bold;
  height: 70%;
  position: relative;
  width: 90%;
  left: 23%;
  top: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .content-group-wrapper {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.box .content-group {
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 450%;
}

.update-button {
  background-color: red; /* Change the background color */
  color: #c44747; /* Change the text color */
  border-radius: 5px; /* Add rounded corners */
  font-size: 16px; /* Adjust the font size */
}

.button-container {
  display: flex;
  position: relative;
  top: -90%;
  left: 700%;
}
.content-wrapper {
  word-wrap: break-word;
}

.pre-wrap {
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
