
/* Grouping of difficulty buttons (Easy, Medium, Hard) */
div.difficulty-buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    padding: 50px 40px;
  }
  
  .difficulty-buttons button {
    width: 100%;
    margin-bottom: 8px; /* spacing between buttons */
    align-items: center;
  }

/* Easy Button */
button.difficulty-easy {
    background-color: #deeedb;
    color: gray;
    transition: background-color 0.3s;
    border-radius: 15px;
    padding: 20px 40px;
    border: none;
}

    button.difficulty-easy:hover {
        background-color: #7ec575;
        color: black;
    }

    button.difficulty-easy.active {
        background-color: #7ec575;
        color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }
    
    button.difficulty-easy:disabled {
        color: white;
    }

/* Medium Button */
button.difficulty-medium {
    background-color: #f6edd2;
    color: gray;
    transition: background-color 0.3s;
    border-radius: 15px;
    padding: 20px 40px;
    border: none;
}

    button.difficulty-medium:hover {
        background-color: rgb(236, 197, 89);
        color: black;
    }

    button.difficulty-medium.active {
        background-color: rgb(236, 197, 89);
        color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }

    button.difficulty-medium:disabled {
        color: white;
    }

/* Hard Button */
button.difficulty-hard {
    background-color: #f0caca;
    color: gray;
    transition: background-color 0.3s;
    border-radius: 15px;
    padding: 20px 100px;
    border: none;
}

    button.difficulty-hard:hover {
        background-color: #f14949;
        color: black;
        transition: background-color 0.3s;
    }

    button.difficulty-hard.active {
        background-color: #f14949;
        color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }

    button.difficulty-hard:disabled {
        color: white;
    }

/* Grouping of difficulty buttons (Easy, Medium, Hard) */
div.topic-img {
    display: flex;
    flex-direction: row;
    white-space: wrap;
  }
  
  .topic-img button {
    width: 100%;
    height: 80px; /* Set a fixed height for the buttons */
    margin-bottom: 8px;
    align-items: center;
    display: flex; /* Align content vertically */
    justify-content: center; /* Center content horizontally */
    box-sizing: border-box; /* Include padding and border in the width */
  }

/* CSS classes for topic buttons */
.topic-button {
    width: 200px; /* Set a fixed width for the buttons */
    height: 100px; /* Set a fixed height for the buttons */
    padding: 10px 30px;
    margin: 10px;
    display: flex;
    flex-direction: column; /* Align text and image vertically */
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
    color: black;
    transition: background-color 0.3s;
    border-radius: 15px;
    border: none;
    overflow: hidden;
  }

  .topic-button:disabled {
    opacity: 0.5;
    background-color: #E6E6E6;
  }
  
  .topic-button img {
    width: 100%; /* Set the width of the image to 100% of the button */
    height: auto; /* Allow the image to maintain aspect ratio */
  }

    button.topic-button:hover {
        background-color: #9f9bfb;
        color: white;
        transition: background-color 0.3s;
    }

    button.topic-button.active {
        background-color: #6C63FF;
        color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }

/* Match Button */
button.custom-match-button {
    background-color: #6C63FF;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 12px 24px;
    transition: background-color 0.3s;
  }

button.custom-match-button:hover {
    background-color: #9792f9;
    color: white;
}

.scrollable-container {
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: scroll; /* Always show vertical scrollbar */
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0; 
  }
  
  @media (max-width: 768px) {
    .scrollable-container {
      flex-wrap: wrap; /* Allow items to wrap to the next row */
      justify-content: center; /* Center items horizontally when wrapping */
    }
  }
  
  /* For Webkit browsers (such as Chrome, Safari) */
  .scrollable-container::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 15px;
  }
  
  .scrollable-container::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color of the scrollbar track */
    border-radius: 15px;
  }

.new-row {
    clear: both;
    margin-top: 0px; /* Adjust the margin as needed */
}

